// compileOnSave
// variables
$c-text: #3c3c3c;
$c-green: #00d474;
$c-white: #ffffff;
$c-light: #f5f5f5;
//bulma
@import "bulma/bulma.sass";
//fonts
@font-face {
  font-family: 'BigJohn';
  src: url('../fonts/big_john-webfont.woff2') format('woff2'),
       url('../fonts/big_john-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SlimJoe';
  src: url('../fonts/slim_joe-webfont.woff2') format('woff2'),
       url('../fonts/slim_joe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
//helper
@import "helpers/media-queries";
// sections
//@import "sections/main";
// blocks
@import "blocks/slider";

//styles to all elements
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//styles to body
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $c-text;
}
//-----------------------------------------
//custom styles
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  align-items: center;
  z-index: 1;
  opacity: 0.6;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.95;
  }
  &-brand img {
    max-height: 2.5rem;
  }
  &-menu {
    background: #363636;
  }
  &-item {
    font-family: 'Raleway';
    font-weight: 300;
    background: #363636;
    color: $c-light;
  }
}

.field {
  padding: 5px 15px;
  & .button {
    background: rgba(0, 212, 116, 1);
  }
}

.hero {
  position: relative;
  height: 100vh;
  // background-image: linear-gradient(to right bottom, rgba(0, 212, 116, 1), rgba(0, 196, 160, 0.7), rgba(0, 230, 234, 0.1)), url('../img/interstellar3.jpg');
  background-image: linear-gradient(to right bottom, rgba(0, 212, 116, 0.79), rgba(0, 196, 160, 0.3), rgba(0,230,234,0.1)), url('../img/interstellar3.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  & .title {
    font-family: 'SlimJoe';
    letter-spacing: 2rem;
    padding-bottom: 50px;
    margin-top: 150px;
    line-height: 3rem;
    @include tablet-min {
      margin-top: 0;
    }
  }
  & .subtitle {
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 0.5rem;
    line-height: 2rem;
  }
  &-link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #f5f5f5;
    font-size: 1.75rem;
    transition: all 0.5s ease;
  }
}

.cards {
  margin: 50px 0;
  outline: none;
}

.card {
  width: 80%;
  margin: 0 auto;
  color: $c-text;
  transition: all 0.5s ease;
  overflow: hidden;
  @include tablet-min {
    width: 90%;
  }
  @include tablet-landscape-min {
    width: 100%;
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: $c-text 1px 1px 15px 5px;
    & img {
      transform: scale(1.2);
    }
  }
  &-image {
    // padding: 15px;
    background: linear-gradient(to right bottom, rgba(0, 212, 116, 0.79), rgba(0, 196, 160, 0.6), rgba(0,230,234,0.5));
    // background-size: width: 200px; high: 300px;
    overflow: hidden;
  }
  & img {
    object-fit: cover;
    transition: transform 10s ease;
  }
  & .title {
    font-family: 'BigJohn';
    text-align: center;
    padding-bottom: 10px;
  }
  & .subtitle {
    font-family: 'Raleway';
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
  & .content {
    p {
      font-family: 'Raleway';
      font-weight: 300;
    }
    & a {
      font-weight: 300;
      font-size: 0.9rem;
      color: $c-text;
      &:hover {
        color: $c-green;
      }
    }
  }
}

.modal {
  &-background {
    filter: blur(10px);
  }
  & .image .modal-image {
    width: 40%;
    margin: 0 auto 10px;
    object-fit: contain;
    @include tablet-min {
      width: 100%;
      max-height: 600px;
    }
  }
  &-content {
    width: 560px;
    max-height: calc(100vh - 20px);
    overflow-y: hidden;
    @include tablet-min {
      width: 1024px;
      max-width: calc(100vw - 100px);
      max-height: calc(100vh - 60px);
    }
  }
  & .content {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 12px;
    @include tablet-min {
      font-size: 16px;
    }
  }
  &-title {
    font-family: 'BigJohn';
    font-size: 14px;
    @include tablet-min {
      font-size: 18px;
    }
  }
  &-overwiew {
    font-family: 'Raleway';
    font-weight: 300;
    font-weight: 300;
    font-size: 12px;
    @include tablet-min {
      font-size: 16px;
    }
  }
  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    &::before, &::after {
      background-color: $c-text;
    }
  }
  & .box {
    background: $c-light;
    & .media {
      flex-direction: column;
      @include tablet-min {
        flex-direction: row;
      }
    }
    & .media-left {
      flex-shrink: 0.9;
      @include tablet-min {
        flex-shrink: 0.8;
      }
      @include desktop-min {
        // flex-shrink: 0.8;
      }
    }
  }
  & .level-item {
    display: inline-block;
    margin-right: 0.75rem;
    margin-bottom: 0;
    transition: all 0.5s ease;
    @include tablet-landscape-min {
      display: flex;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer {
  background-image: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
  font-family: 'Raleway', sans-serif;
  color: $c-light;
  & strong {
    color: $c-green;
    & + a {
      color: $c-white;
    }
  }
  & span {
    a {
      color: $c-green;
    }
  }
  & .icon {
    font-size: 1.5rem;
    color: $c-green;
  }
  &-link {
    position: relative;
    top: calc(-48px - 25px - 50px);
    left: calc(100% - 50px);
    width: 50px;
    height: 50px;
    background-color: rgba($c-text, 0.1);
    border-radius: 50%;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: rgba($c-text, 0.2);
    }
  }
}
