// main: ../main.scss
.box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.mobile {
  @include tablet-min {
    display: none;
  };
}
.tablet {
  display: none;
  @include tablet-only {
    display: block;
  };
}
.desktop {
  display: none;
  @include desktop-min {
    display: block;
  };
}
.retina {
  &::before {
    content: "not retina";
    @include retina {
      content: "retina";
    };
  }
}
