// main: ../main.scss
.slider {
  position: relative;
  background-color: $c-white;
  object-fit: cover;
  outline: none;
  &-info {
    margin: 50px auto;
    text-align: center;
    font-family: 'BigJohn';
    outline: none;
    font-size: 20px;
    letter-spacing: 0.5rem;
    @include tablet-min {
      font-size: 30px;
      letter-spacing: 1rem;
    }
  }
  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &-image {
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    img {
      transition: filter 0.5s ease;
    }
  }
  &-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 80px;
    background-color: rgba($c-text, 0.75);
    color: $c-light;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-title {
    font-family: 'BigJohn';
    font-size: 16px;
    letter-spacing: 0.1rem;
    @include tablet-min {
      font-size: 20px;
      letter-spacing: 0.2rem;
    }
    & + p {
      font-family: 'SlimJoe';
      font-size: 16px;
      @include tablet-min {
        font-size: 20px;
      }
    }
  }
  & .arrow {
    position: absolute;
    width: 25px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    // border-radius: 50%;
    // background-color: rgba($c-light, 0.5);
    background-color: transparent;
    color: $c-text;
    transition: color 0.5s ease;
    &:hover {
      color: $c-green;
      cursor: pointer;
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
  &-navigation {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    @include tablet-min {
      visibility: visible;
    }
  }
  &-button {
    width: 10px;
	  height: 10px;
    border: 1px solid $c-light;
	  border-radius: 5px;
    padding: 0;
    margin: 0 5px;
    background-color: $c-light;
    cursor: pointer;
    // outline: none;
    &--active {
      background-color: $c-text;
    }
  }
}
//activated in main.js when mouse events take place on .slider img
.is-blur {
  filter: blur(10px);
}
